<header class="panel-heading">
    <div class="row">
        <h2 class="panel-title col-xs-6">{{ title }} - {{ pool }}</h2>
        <div class="col-xs-6"><span class="pull-right">{{#if connected}}Connected{{else}}Disconnected{{/if}}</span></div>
    </div>
</header>
{{#if connected}}
    <div class="panel-body">
        {{#if devices}}
            {{#each devices}}
                <div class="row overview" id="{{id}}">
                
                    <div class="hashrate col-xs-12 col-md-3">
                        <div class="graph"></div>
                        <strong>Current Hashrate: {{hashrate rate}}</strong>
                    </div>
                
                    <div class="col-xs-12 col-md-3">
                        <table class="table table-bordered">
                            <tr><td>Name</td><td class="{{#if connected}}success{{else}}danger{{/if}}">{{name}}</td></tr>
                            <tr><td>Active</td><td>{{#if connected}}{{timespan uptime}}{{else}}No{{/if}}</td></tr>
                            <tr><td>Reconnects</td><td>Pool: {{poolReconnects}} Miner: {{minerReconnects}}</td></tr>
                            <tr><td>Software</td><td>{{software}}</td></tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <table class="table table-bordered">
                            <tr><td>Accepted Shares</td><td>{{number accepted}}</td></tr>
                            <tr><td>Rejected Shares</td><td>{{number rejected}} ({{number rejectedPercentage precision="2"}}%)</td></tr>
                            <tr><td>Stale Shares</td><td>{{number stale}} ({{number stalePercentage precision="2"}}%)</td></tr>
                            <tr><td>Submitted Shares</td><td>{{number submitted}}{{#if pending}} ({{number pending}}){{/if}}</td></tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <table class="table table-bordered">
                            <tr><td>Difficulty</td><td>{{number difficulty}}</td></tr>
                            <tr><td>Last Share Submitted</td><td>{{#if lastShare}}{{time lastShare}}{{else}}Never{{/if}}</td></tr>
                            <tr><td>Rate</td><td>{{hashrate rate}}</td></tr>
                        </table>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <footer class="text-muted">Updated: {{time lastUpdated}}</footer>
{{/if}}